[submodule "external/gsplat"]
	path = external/gsplat
	url = https://github.com/nerfstudio-project/gsplat
[submodule "external/marigold"]
	path = external/marigold
	url = https://github.com/prs-eth/Marigold.git
