[submodule "external/gsplat"]
	path = external/gsplat
	url = https://github.com/nerfstudio-project/gsplat
[submodule "external/marigold"]
	path = external/marigold
	url = https://github.com/prs-eth/Marigold.git
[submodule "external/metric3d"]
	path = external/metric3d
	url = https://github.com/YvanYin/Metric3D.git
[submodule "external/colmap"]
	path = external/colmap
	url = https://github.com/colmap/colmap.git
[submodule "external/moge"]
	path = external/moge
	url = https://github.com/microsoft/MoGe.git
